
.vs/Vertical slice Binding of isaac/v16/.suo
.vs/Vertical slice Binding of isaac/v16/Server/sqlite3/storage.ide-wal
.vs/Vertical slice Binding of isaac/v16/Server/sqlite3/storage.ide-shm
.vs/Vertical slice Binding of isaac/v16/Server/sqlite3/storage.ide
Temp/UnityLockfile
